$grayLightColor: #585858;
$backgroundGrayColor: #343434;
$grayButtonColor: #3f3f3f;
$grayActiveButton: #6a6a6a;
$greenColor: hsl(150, 74%, 51%);
$greenColorHover: hsl(150, 74%, 56%);
$greenColorActive: hsl(150, 74%, 69%);
$redColor: hsl(360, 67%, 51%);
$redColorHover: hsl(360, 67%, 55%);
$redColorActive: hsl(360, 67%, 60%);
$orangeColor: hsl(33, 100%, 51%);
$orangeColorHover: hsl(33, 100%, 56%);
$orangeColorActive: hsl(33, 100%, 69%);
$backgroundColor: #121212;
$whiteColor: #fff;
